<nav [class.collapsed]="collapsed" class="sidebar">
  <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
  <ul>
    <li>
      <a routerLink="/dashboard">
        <fa-icon [icon]="faTachometerAlt"></fa-icon>
        <span class="nav-text" *ngIf="!collapsed">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/invoices">
        <fa-icon [icon]="faFileInvoice"></fa-icon>
        <span class="nav-text" *ngIf="!collapsed">Facturen</span>
      </a>
    </li>
    <li>
      <a routerLink="/quotes">
        <fa-icon [icon]="faFileAlt"></fa-icon>
        <span class="nav-text" *ngIf="!collapsed">Offertes</span>
      </a>
    </li>
    <li>
      <a routerLink="/customer-list">
        <fa-icon [icon]="faUsers"></fa-icon>
        <span class="nav-text" *ngIf="!collapsed">Klanten</span>
      </a>
    </li>
    <li>
      <a routerLink="/payments">
        <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
        <span class="nav-text" *ngIf="!collapsed">Betalingen</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings">
        <fa-icon [icon]="faCog"></fa-icon>
        <span class="nav-text" *ngIf="!collapsed">Instellingen</span>
      </a>
    </li>
  </ul>
</nav>
